# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore

# Environment / secrets
.env
ava_config.xml

# Kotlin
*.class

# Gradle
.gradle/
build/
